/* Adding DM type */
@font-face {
  font-family: 'DM-Type';
  src: url('/public/typefaces/DM-Type.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
}
